{% extends 'buttons.html'%}
{%block title%} Purchase {% endblock title%}
{% block content%}
<style>
 .label{
 width:200px;
 margin-left:50px;
 font-size:17px;
 font-family:Sans-serif;
 font-style:italic;
 }
 </style>
<script>

    function btn_Edit_ClickwithData(row){
         document.querySelector('#Rec_id').value = document.getElementById("tbl_data_View").rows[row.closest('tr').rowIndex].cells.item(0).innerHTML;
         if(document.getElementById('FormMode').value == 'Edit'){
             document.querySelector('#data_view').hidden = true;
             document.querySelector('#Add_Section').hidden = false;
             document.querySelector('#Action').value ='Edit';
             document.querySelector('#btn_Add').hidden ='true' ;
             document.querySelector('#btn_Edit').value = 'Update';
             document.querySelector('#btn_Delete').hidden = true;
             document.querySelector('#btn_Cancel').hidden = false;
             document.getElementById('Form_Editdiv').submit();
             Lock_Controls('unlock');


         }
         else if(document.getElementById('FormMode').value == 'Delete'){
            document.querySelector('#btn_Delete').hidden = false;
            document.querySelector('#btn_Cancel').hidden = false;
            document.querySelector('#data_view').hidden = true;
            document.querySelector('#Add_Section').hidden = false;
            document.querySelector('#Action').value ='Delete';
            Lock_Controls('lock');
            document.querySelector('#btn_Delete').innerText = 'Confirm Delete';
            document.getElementById('Form_Editdiv').submit();
         }
        }

</script>
<div id="Add_Section">

    <form id="Form_ID"  class="was-validated" action="/purchase" method="post" >
        {%csrf_token%}
        <input type="hidden" id="Update_id" name="Update_id" value="{{Update_id}}">
        <input type="hidden" id="Action" name="Action" value="Add">
      <div class="form-row" style="margin-top:15;">
        <div class="label">
           Item Description
        </div>
        <div class="col">
          <input type="text" name="Item_Description" class="form-control W-75"  value="{{get_Data_Bykey.Item_Description}}" required>
        </div>
        <div class="label">
          Item Type
        </div>
        <div class="col-sm">
          <input type="text" name="Item_Type" class="form-control W-75" value="{{get_Data_Bykey.Item_Type}}" required>
        </div>
      </div>
      <br>
      <div class="form-row">
       <div class="label">
           Vendor Name
        </div>
        <div class="col-sm">
          {%	include	"Customer_Dropdown.html" %}
        </div>
        <div class="label">
          Company Name
        </div>
        <div class="col-sm">
          <input type="text" name="Company_Name" class="form-control W-75" value="{{get_Data_Bykey.Company_Name}}" required>
        </div>
      </div>

       <br>
      <div class="form-row">
       <div class="label">
           Amount
        </div>
        <div class="col-sm">
          <input type="text" name="Amount" class="form-control W-75" value="{{get_Data_Bykey.Amount}}" required>
        </div>
        <div class="label">
          Rate
        </div>
        <div class="col-sm">
          <input type="text" name="Rate" class="form-control W-75" value="{{get_Data_Bykey.Rate}}" required>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="label">
           Vendor Address
        </div>
        <div class="col-sm">
            <textarea class="form-control" name="Address" rows="5" style=" width:500px;" required >{{get_Data_Bykey.Address}} </textarea>
        </div>

      </div>
    </form>
</div>

<div id="data_view" hidden="true" >

    <table  id="tbl_data_View"  class="table table-striped">
        <thead class="thead-dark">
            <tr >
                <th class="th-sm"  >
                            S.No
                </th>
                <th class="th-sm">
                            Item Description
                </th>
                <th class="th-sm">
                            Item Type
                </th>
                <th class="th-sm" width="10px">
                            Action
                </th>
            </tr>
        </thead>
        <tbody >
            {% for purchase_data in page_obj%}
            <tr>
                <th >  {{purchase_data.id}}</th>
                <td>  {{purchase_data.Item_Description}}</td>
                <td>  {{purchase_data.Item_Type}}</td>

                <td>
                    <form id="Form_Editdiv" method="post" action="/purchase">
                        {% csrf_token %}
                        <input type="hidden" id="FormMode" name="FormMode" value="Edit"/>
                            <input type="hidden" id="ActionEdit" name="ActionEdit" value="Edit"/>
                        <input type="hidden" id="Rec_id" name="Rec_id" value="{{Purchase_D.id}}"/>
                        <a href="#"><img src="/static/Img/edit.png" onclick="btn_Edit_ClickwithData(this)"> </a>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div >
                        <nav aria-label="...">
                             <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">First</a>
                                </li>
                                <li class="page-item disabled">
                                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}"" tabindex="-1">Previous</a>
                                </li>
                            {% endif %}

                                <li class="page-item disabled">
                                 <p class="page-link" > Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                                </li>

                            {% if page_obj.has_next %}
                                    <li class="page-item">
                                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                  <li class="page-item">
                                        <a class="page-link"  href="?page={{ page_obj.paginator.num_pages }}" >Last</a>
                                  </li>

                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </td>
            </tr>

        </tfoot>
    </table>
</div>


<div>
    <table  id="data_View1"  hidden="true">
        <thead >
            <tr >
                <th >
                            S.No
                </th>
                <th >
                            Item Description
                </th>
                <th >
                            Item Type
                </th>

            </tr>
        </thead>
        <tbody >
            {% for purchase_data in page_obj%}
            <tr>
                <th >  {{purchase_data.id}}</th>
                <td>  {{purchase_data.Item_Description}}</td>
                <td>  {{purchase_data.Item_Type}}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}